<h1>ユーザー情報</h1>

<div class="contents">
    <div class="item">所属</div>
    <div class="itemv"><%= currentUser.group %></div>
</div>
<div class="contents">
    <div class="item">ID</div>
    <div class="itemv"><%= currentUser.id %></div>
</div>
<div class="contents">
    <div class="item">氏名</div>
    <div class="itemv"><%= currentUser.fullName() %></div>
</div>
<div class="contents">
    <div class="item">メールアドレス</div>
    <div class="itemv"><%= currentUser.email %></div>
</div>
<div class="contents">
    <div class="item">誕生日</div>
    <div class="itemv"><%= currentUser.birth %></div>
</div>
<p><a href="/users/<%= currentUser._id %>/edit">ユーザー情報変更</a></p>
<div> </div>

<h2>訓練生検索</h2>
<form action="/users/search" method="get" id="searchUsers">
    <div class="contents">
        <div class="item">Group</div>
        <div class="itemv">
            <select v-model="select">
                <option hidden>選択してください</option>
                <option>Peach01</option>
                <option>ANA01</option>
            </select>
        </div>
    </div>
    <div class="contents">
        <div class="item">氏名</div>
        <div class="itemv">
            <select name="trainee">
                <option value="" hidden>選択してください</option>
                <% users.forEach(user => {
                    if(!(user.group === "Admin" || user.group === "HONDA")){ %>>
                        <option value="<%= user._id %>" v-if="select==='<%= user.group %>'"><%= user.fullName() %></option>
                <% }}) %>
            </select>
        </div>
    </div>
    <button type="submit">検索</button>
</form>
<h2>未確定の記録</h2>
<table>
    <tr>
        <th class ="tableth">日付</th>
        <th class ="tableth">所属</th>
        <th class ="tableth">氏名</th>
        <th class ="tableth">Phase</th>
        <th class ="tableth">総合評価</th>
    </tr>
    <% records.forEach(r => { %>
        <% if(r.edit){ %>
            <tr>
                <td class="tabletd"><%= r.date %></td>
                <td class="tabletd"><%= r.trainee.group %></td>
                <td class="tabletd"><%= r.trainee.ksname + r.trainee.kgname %></td>
                <td class="tabletd"><%= r.phase %></td>
                <td class="tabletd"><%= r.g_grade %></td>
                <td>
                    <a href="/record/<%= r._id %>/edit"><button>編集</button></a>
                </td>
            </tr>
        <% } %>
    <% }) %>
</table>

<h2>最近作成した記録</h2>
<div id="showAll">
<table>
    <tr>
        <th class ="tableth">日付</th>
        <th class ="tableth">所属</th>
        <th class ="tableth">氏名</th>
        <th class ="tableth">Phase</th>
        <th class ="tableth">総合評価</th>
    </tr>
    <% for(let i=0;i<=4;i++){ %>
        <% if(records[i]){ %>
        <tr>
            <td class="tabletd"><%= records[i].date %></td>
            <td class="tabletd"><%= records[i].trainee.group%></td>
            <td class="tabletd"><%= records[i].trainee.ksname + records[i].trainee.kgname %></td>
            <td class="tabletd"><%= records[i].phase%></td>
            <td class="tabletd"><%= records[i].g_grade%></td>
            <td>
                <form action="/record/<%= records[i]._id %>" method="GET">
                    <button type="submit" >
                        詳細
                    </button>
                </form>
            </td>
        </tr>
    <% }}; %>
    <% for(let i=5;i<records.length;i++){ %>
        <% if(records[i]){ %>
        <tr v-if="more">
            <td class="tabletd"><%= records[i].date %></td>
            <td class="tabletd"><%= records[i].trainee.group%></td>
            <td class="tabletd"><%= records[i].trainee.ksname + records[i].trainee.kgname %></td>
            <td class="tabletd"><%= records[i].phase%></td>
            <td class="tabletd"><%= records[i].g_grade%></td>
            <td>
                <form action="/record/<%= records[i]._id %>" method="GET">
                    <button type="submit" >
                        詳細
                    </button>
                </form>
            </td>
        </tr>
    <% }}; %>
</table>
<button @click="show">{{ button }}</button>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    const SearchUsers = {
        data() {
            return {
                select: "選択してください",
            }
        }
    };
    Vue.createApp(SearchUsers).mount("#searchUsers");

    const ShowAll = {
        data() {
            return{
                button: "すべて表示する",
                more:false
            }
        },
        methods: {
            show() {
                this.more = !this.more;
                if (this.button === "すべて表示する") {
                    this.button = "最近5件のみ表示する";
                } else {
                    this.button = "すべて表示する";
                }
            }
        }
    };
    Vue.createApp(ShowAll).mount("#showAll");
</script>