<h1>ユーザー情報</h1>

<div class="contents">
    <div class="item">所属</div>
    <div class="itemv"><%= currentUser.group %></div>
</div>
<div class="contents">
    <div class="item">ID</div>
    <div class="itemv"><%= currentUser.id %></div>
</div>
<div class="contents">
    <div class="item">氏名</div>
    <div class="itemv"><%= currentUser.fullName() %></div>
</div>
<div class="contents">
    <div class="item">メールアドレス</div>
    <div class="itemv"><%= currentUser.email %></div>
</div>
<div class="contents">
    <div class="item">誕生日</div>
    <div class="itemv"><%= currentUser.birth %></div>
</div>
<div> </div>

<h2>訓練生検索</h2>
<form action="/users/search" method="get">
    <div class="contents">
        <div class="item">Group</div>
        <div class="itemv">
            <select name="" id=""></select>
        </div>
    </div>
    <div class="contents">
        <div class="item">氏名</div>
        <div class="itemv">
            <select name="trainee">
                <% users.forEach(user => {
                    if(!(user.group === "Admin" || user.group === "HONDA")){ %>>
                        <option value="<%= user._id %>"><%= user.fullName() %></option>
                <% }}) %>
            </select>
        </div>
    </div>
    <button type="submit">検索</button>
</form>

<h2>最近作成した記録</h2>
<table>
    <tr>
        <th class ="tableth">Date</th>
        <th class ="tableth">Phase</th>
        <th class ="tableth">総合評価</th>
        <th class ="tableth">操作技術</th>
        <th class ="tableth">知識</th>
        <th class ="tableth">CRM</th>
    </tr>
    <% records.forEach(r => { %>
        <tr>
            <td class="tabletd"><%= r.date %></td>
            <td class="tabletd"><%= r.phase %></td>
            <td class="tabletd"><%= r.g_grade %></td>
            <td class="tabletd"><%= r.technical %></td>
            <td class="tabletd"><%= r.knowledge %></td>
            <td class="tabletd"><%= r.crm %></td>
            <td>
                <form action="/record/<%= r._id %>" method="GET">
                    <button type="submit" >
                        詳細
                    </button>
                </form>
            </td>
        </tr>
    <% }); %>
</table>