<h1>Training Record</h1>

<div class="contents">
    <div class="item">所属</div>
    <div class="itemv"><%= record.trainee.group %></div>
</div>
<div class="contents">
    <div class="item">ID</div>
    <div class="itemv"><%= record.trainee.id %></div>
</div>
<div class="contents">
    <div class="item">氏名</div>
    <div class="itemv"><%= record.trainee.ksname + record.trainee.kgname %></div>
</div>
<div class="contents">
    <div class="item">課程</div>
    <div class="itemv"><%= record.phase %></div>
</div>
<div>　</div>
<div class="contents">
    <div class="item">DATE</div>
    <div class="itemv"><%= record.date %></div>
</div>
<div class="contents">
    <div class="item">Record No.</div>
    <div class="itemv"><%= record.rec_id %></div>
</div>
<div>　</div>
<div class="contents">
    <div class="item">INSTRUCTOR</div>
    <div class="itemv"><%= record.instructor.ksname + record.instructor.kgname %></div>
</div>
<div>　</div>
<div class="contents">
    <div class="item">総合評価</div>
    <div class="itemv"><%= record.g_grade %></div>
</div>
<div>　</div>
<div class="contents">
    <div class="item">操作技術</div>
    <div class="itemv"><%= record.technical %></div>
    <div class="itemvl"><%= record.t_comment %></div>
</div>
<div class="contents">
    <div class="item">知識</div>
    <div class="itemv"><%= record.knowledge %></div>
    <div class="itemvl"><%= record.k_comment %></div>
</div>
<div class="contents">
    <div class="item">CRM</div>
    <div class="itemv"><%= record.crm %></div>
    <div class="itemvl"><%= record.c_comment %></div>
</div>
<form action="/record/edit" method="GET">
    <button type="submit" name="id" value="<%= record._id %>">編集</button>
</form>
<form action="/record/delete" method="POST" onsubmit="return check()">
    <button type="submit" name="id" value="<%= record._id %>">削除</button>
</form>