<h1>Training Record Summary</h1>

<div class="contents">
    <div class="item">所属</div>
    <div class="itemv"><%= group %></div>
</div>
<div class="contents">
    <div class="item">ID</div>
    <div class="itemv"><%= id %></div>
</div>
<div class="contents">
    <div class="item">氏名</div>
    <div class="itemv"><%= kname %></div>
</div>
<div class="contents">
    <div class="item">課程</div>
    <div class="itemv"><%= phase %></div>
</div>
<div>　</div>
<table>
    <tr>
        <th class ="tableth">Record No</th>
        <th class ="tableth">Date</th>
        <th class ="tableth">総合評価</th>
        <th class ="tableth">操作技術</th>
        <th class ="tableth">知識</th>
        <th class ="tableth">CRM</th>
    </tr>
    <% record.forEach(r => { %>
        <tr>
            <td class="tabletd"><%= r.rec_id %></td>
            <td class="tabletd"><%= r.date %></td>
            <td class="tabletd"><%= r.g_grade %></td>
            <td class="tabletd"><%= r.technical %></td>
            <td class="tabletd"><%= r.knowledge %></td>
            <td class="tabletd"><%= r.crm %></td>
            <td>
                <form action="/record/<%= r._id %>" method="GET">
                    <button type="submit" >
                        詳細
                    </button>
                </form>
            </td>
        </tr>
    <% }); %>
</table>
<form action="/record/create" method="GET">
    <button type="submit">追加</button>
</form>

</div>