<h1>ユーザー情報</h1>

<div class="contents">
    <div class="item">所属</div>
    <div class="itemv"><%= user.group %></div>
</div>
<div class="contents">
    <div class="item">ID</div>
    <div class="itemv"><%= user.id %></div>
</div>
<div class="contents">
    <div class="item">氏名</div>
    <div class="itemv"><%= user.fullName() %></div>
</div>
<div class="contents">
    <div class="item">メールアドレス</div>
    <div class="itemv"><%= user.email %></div>
</div>
<div class="contents">
    <div class="item">誕生日</div>
    <div class="itemv"><%= user.birth %></div>
</div>
<div> </div>

<table>
    <tr>
        <th class ="tableth">Date</th>
        <th class ="tableth">Phase</th>
        <th class ="tableth">総合評価</th>
        <th class ="tableth">操作技術</th>
        <th class ="tableth">知識</th>
        <th class ="tableth">CRM</th>
    </tr>
    <% records.forEach(r => { %>
        <tr>
            <td class="tabletd"><%= r.date %></td>
            <td class="tabletd"><%= r.phase %></td>
            <td class="tabletd"><%= r.g_grade %></td>
            <td class="tabletd"><%= r.technical %></td>
            <td class="tabletd"><%= r.knowledge %></td>
            <td class="tabletd"><%= r.crm %></td>
            <td>
                <form action="/record/<%= r._id %>" method="GET">
                    <button type="submit" >
                        詳細
                    </button>
                </form>
            </td>
        </tr>
    <% }); %>
</table>